<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
                    <h5>权限列表</h5>
                </div>

                <div class="widget-content nopadding">
                    <div class="dataTables_wrapper">
                        <div>
                            <div class="dataTables_length form-horizontal">
                                <label>
                                    <i class="icon-filter" data-bs-tooltip="'将会以您填写的条件对列表数据进行筛选'" data-trigger="hover"></i>
                                    <input
                                            data-ng-change="resetFlag=true"
                                            data-ng-model="searchText"
                                            type="text"
                                            placeholder="过滤条件 或 查询关键字"
                                            />
                                    <button class="btn btn-primary"
                                            data-ng-click="searchData()"
                                            data-bs-tooltip="'将从服务器端进行检索'"
                                            data-trigger="hover"
                                            data-ng-disabled="!searchText"
                                            ><i class="icon-search"></i></button>
                                    <button
                                            data-ng-disabled="!resetFlag"
                                            data-ng-click="resetFilter()"
                                            class="btn btn-info"
                                            >
                                        <i class="icon-retweet" data-bs-tooltip="'清空您添加的所有筛选条件，包括：过滤条件，排序'" data-trigger="hover"></i> <span class="text">重置规则</span>
                                    </button>
                                </label>
                            </div>
                        </div>

                        <table class="table table-bordered" data-kz-table-fixed-header>
                            <thead>
                            <tr>
                                <th ng-click="predicate='privilegeName'; reverse=!reverse; resetFlag=true">
                                        <span ng-if="predicate=='privilegeName'" ng-switch on="reverse">
                                            <i class="icon-caret-up" ng-switch-when="false"></i>
                                            <i class="icon-caret-down" ng-switch-when="true"></i>
                                        </span>
                                    权限名称
                                </th>
                                <th class="hidden-phone" ng-click="predicate='group'; reverse=!reverse; resetFlag=true">
                                        <span ng-if="predicate=='group'" ng-switch on="reverse">
                                            <i class="icon-caret-up" ng-switch-when="false"></i>
                                            <i class="icon-caret-down" ng-switch-when="true"></i>
                                        </span>
                                    所属
                                </th>
                                <th ng-click="predicate='validity'; reverse=!reverse; resetFlag=true">
                                        <span ng-if="predicate=='validity'" ng-switch on="reverse">
                                            <i class="icon-caret-up" ng-switch-when="false"></i>
                                            <i class="icon-caret-down" ng-switch-when="true"></i>
                                        </span>
                                    有效性
                                </th>
                                <th class="hidden-phone" ng-click="predicate='default'; reverse=!reverse; resetFlag=true">
                                        <span ng-if="predicate=='default'" ng-switch on="reverse">
                                            <i class="icon-caret-up" ng-switch-when="false"></i>
                                            <i class="icon-caret-down" ng-switch-when="true"></i>
                                        </span>
                                    默认状态
                                </th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-ng-repeat="item in data | filter:searchText | filter:status | orderBy:predicate:reverse">
                                <td class="center">{{ item.privName }} <i class="icon-tag" data-bs-tooltip="item.info" data-trigger="hover"></i></td>
                                <td class="center hidden-phone">
                                    {{ item.app }} <i class="icon-caret-right"></i> {{ item.group }}
                                </td>
                                <td class="center">
                                        <kz-switch
                                                data-id="{{ $parent.$index }}"
                                                data-method="changeValidity(id, status)"
                                                data-model="item.validity"
                                                data-on-label="是"
                                                data-off-label="否"
                                                data-active="switchFlag"
                                        />
                                </td>
                                <td class="center hidden-phone">
                                    <kz-switch
                                            data-id="{{ $parent.$index }}"
                                            data-method="changeDefault(id, status)"
                                            data-model="item.default"
                                            data-on-label="是"
                                            data-off-label="否"
                                            data-active="switchFlag"
                                    />
                                </td>
                                <td class="center">
                                    <span><kz-action data-name="privilegeEdit" data-group="privilege" data-args="{{ '{pid:' + $parent.item.privId + '}' }}" /></span>
                                    <span> | </span>
                                    <span><kz-action data-name="privilegeDelete" data-group="privilege" data-ng-click="$parent.delete($parent.item, $parent.$index)" /></span>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <div class="ui-toolbar ui-widget-header">
                            <div class="dataTables_filter">
                                <label>
                                    <kz-action class="btn btn-success" data-name="privilegeAdd" data-group="privilege" />
                                </label>
                            </div>

                            <div class="dataTables_paginate">
                                    <button
                                            class="btn"
                                            data-ng-click="downloadData()"
                                            data-ng-disabled="!hasManyData"
                                            data-ng-hide="isLoading"
                                    >
                                        <span data-ng-switch on="hasManyData">
                                            <span data-ng-switch-when="true"><i class="icon-download-alt"></i> 更多</span>
                                            <span data-ng-switch-when="false"><i class="icon-twitter"></i> 暂无</span>
                                        </span>
                                    </button>
                                    <img data-ng-show="isLoading" src="./img/loading.gif" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>