<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
                    <h5>权限列表</h5>
                </div>

                <div class="widget-content nopadding">
                    <div class="dataTables_wrapper">
                        <div>
                            <div class="dataTables_length form-horizontal">
                                <label>
                                    <i class="icon-filter" data-bs-tooltip="'将会以您填写的条件对列表数据进行筛选'" data-trigger="hover"></i>
                                    <input
                                            data-ng-change="resetFlag=true"
                                            data-ng-model="searchText"
                                            type="text"
                                            placeholder="过滤条件 或 查询关键字"
                                            />
                                    <button class="btn btn-primary"
                                            data-ng-click="searchData()"
                                            data-bs-tooltip="'将从服务器端进行检索'"
                                            data-trigger="hover"
                                            data-ng-disabled="!searchText"
                                            ><i class="icon-search"></i></button>
                                    <button
                                            data-ng-disabled="!resetFlag"
                                            data-ng-click="resetFilter()"
                                            class="btn btn-info"
                                            >
                                        <i class="icon-retweet" data-bs-tooltip="'清空您添加的所有筛选条件，包括：过滤条件，排序'" data-trigger="hover"></i> <span class="text">重置规则</span>
                                    </button>
                                </label>
                            </div>
                        </div>

                        <table class="table table-bordered" data-kz-table-fixed-header>
                            <thead>
                            <tr>
                                <th ng-click="predicate='privName'; reverse=!reverse; resetFlag=true">
                                        <span ng-if="predicate=='privName'" ng-switch on="reverse">
                                            <i class="icon-caret-up" ng-switch-when="false"></i>
                                            <i class="icon-caret-down" ng-switch-when="true"></i>
                                        </span>
                                    权限
                                </th>
                                <th class="hidden-phone" ng-click="predicate='app'; reverse=!reverse; resetFlag=true">
                                        <span ng-if="predicate=='app'" ng-switch on="reverse">
                                            <i class="icon-caret-up" ng-switch-when="false"></i>
                                            <i class="icon-caret-down" ng-switch-when="true"></i>
                                        </span>
                                    所属系统
                                </th>
                                <th class="hidden-phone" ng-click="predicate='group'; reverse=!reverse; resetFlag=true">
                                        <span ng-if="predicate=='group'" ng-switch on="reverse">
                                            <i class="icon-caret-up" ng-switch-when="false"></i>
                                            <i class="icon-caret-down" ng-switch-when="true"></i>
                                        </span>
                                    所属父组
                                </th>
                                <th class="span2" ng-click="predicate='validity'; reverse=!reverse; resetFlag=true">
                                        <span ng-if="predicate=='validity'" ng-switch on="reverse">
                                            <i class="icon-caret-up" ng-switch-when="false"></i>
                                            <i class="icon-caret-down" ng-switch-when="true"></i>
                                        </span>
                                    有效性
                                </th>
                                <th class="span2" ng-click="predicate='default'; reverse=!reverse; resetFlag=true">
                                        <span ng-if="predicate=='default'" ng-switch on="reverse">
                                            <i class="icon-caret-up" ng-switch-when="false"></i>
                                            <i class="icon-caret-down" ng-switch-when="true"></i>
                                        </span>
                                    默认状态
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-ng-class="{'delete-line':item.isDelete}" data-ng-repeat="item in data | filter:searchText | filter:status | orderBy:predicate:reverse">
                                <td class="center">
                                    <span
                                        data-trigger="click"
                                        data-unique="1"
                                        data-placement="right"
                                        data-title="详细"
                                        data-bs-popover="'info.html'">
                                        <a class="help-info">{{ item.privName }} <i class="icon-tag"></i></a>
                                    </span>
                                </td>
                                <td class="center hidden-phone">{{ item.app }}</td>
                                <td class="center hidden-phone">{{ item.group }}</td>
                                <td class="center">
                                    <kz-switch
                                        data-id="{{ $parent.$index }}"
                                        data-method="changeValidity(id, status)"
                                        data-model="item.validity"
                                        data-on-label="是"
                                        data-off-label="否"
                                        data-active="true" />
                                </td>
                                <td class="center">
                                    <kz-switch
                                            data-id="{{ $parent.$index }}"
                                            data-method="changeDefault(id, status)"
                                            data-model="item.default"
                                            data-on-label="是"
                                            data-off-label="否"
                                            data-active="true"
                                    />
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <div class="ui-toolbar ui-widget-header">
                            <div class="dataTables_paginate">
                                <button
                                        class="btn"
                                        data-ng-click="downloadData()"
                                        data-ng-disabled="!hasManyData"
                                        data-ng-hide="isLoading">
                                    <span data-ng-switch on="hasManyData">
                                        <span data-ng-switch-when="true"><i class="icon-download-alt"></i> 更多</span>
                                        <span data-ng-switch-when="false"><i class="icon-twitter"></i> 暂无</span>
                                    </span>
                                </button>
                                <img data-ng-show="isLoading" src="./img/loading.gif" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="info.html">
    <ul class="activity-list">
        <li>
            <span class="text">名称 <i class="icon-caret-right"></i></span> {{ item.privName }}
        </li>
        <li>
            <span class="text">所属 <i class="icon-caret-right"></i></span> {{ item.app }} <i class="icon-arrow-right"></i> {{ item.group }}
        </li>
        <li>
            <span class="text">备注 <i class="icon-caret-right"></i></span> {{ item.info }}
        </li>
    </ul>
    <button class="btn btn-success btn-mini pull-right" data-ng-click="dismiss()">i class="icon-remove"></i> <span class="text">关闭</span></button>
    <div class="clearfix"></div>
</script>