<!doctype html>
<!--[if lt IE 7]>
<html
        class="no-js ie6 oldie"
        lang="zh-CN"
        xmlns:ng="http://angularjs.org/">
<![endif]-->
<!--[if IE 7]>
<html
        class="no-js ie7 oldie"
        lang="zh-CN"
        xmlns:ng="http://angularjs.org/">
<![endif]-->
<!--[if IE 8]>
<html
        class="no-js ie8 oldie"
        lang="zh-CN"
        xmlns:ng="http://angularjs.org/">
<![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"
      lang="zh-CN"
      xmlns:ng="http://angularjs.org/">
<!--<![endif]-->
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
    <meta name="apple-mobile-web-app-status-bar-style" content="blank" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <title>web OS</title>
    <link rel="stylesheet" href="./css/bootstrap.css" />
    <link rel="stylesheet" href="./css/bootstrap-responsive.css" />
    <link rel="stylesheet" href="./css/main.css" />
    <link rel="shortcut icon" href="./favicon.ico" />
    <!--
    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' />
    -->
    <!--[if lt IE 9]>
    <script src="./lib/html5shiv.js"></script>
    <![endif]-->
</head>
<body data-ng-controller="menuCtrl">
<noscript>
    <div class="container">
        <div class="hero-unit" style="margin-top: 15px;">
            <h1>Hello, My Hero!</h1>
            <p>Your web browser must have JavaScript enabled in order for this application to display correctly.</p>
            <p><a href="http://www.google.cn/intl/zh-CN/chrome/" class="btn btn-primary btn-large">安装 Chrome &raquo;</a></p>
        </div>
    </div>
</noscript>

<div data-ng-cloak>
    <!--Header-part-->
    <div id="globalLoading" data-ng-show="globalLoading"></div>
    <!--close-Header-part-->

    <!--Header-part-->
    <div id="header">
        <h1><a>Web OS</a></h1>
    </div>
    <!--close-Header-part-->

    <!--top-Header-menu-->
    <div id="user-nav" class="navbar navbar-inverse">
        <ul class="nav">
            <li  class="dropdown" id="profile-messages">
                <a title="" href="#" data-toggle="dropdown" data-target="#profile-messages" class="dropdown-toggle"><i class="icon-user icon-white"></i>  <span class="text">当前用户</span><b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><kz-action data-name="lock" data-group="publish" /></li>
                </ul>
            </li>
            <li><kz-action class="cursor-pointer" data-name="logout" data-group="publish" data-ng-click="$parent.modalWin()" /></li>
        </ul>
    </div>
    <!--close-top-Header-menu-->

    <!--sidebar-menu-->
    <div id="sidebar">
        <a class="visible-phone" data-ng-click="expansion()"><i class="icon icon-reorder"></i> 菜单</a>
        <kz-sidebar-menu data-ng-show="$parent.openStatus > 0" data-data="menu" data-args="{page:1}"></kz-sidebar-menu>
    </div>
    <!--sidebar-menu-->

    <!--main-container-part-->
    <div id="content">
        <!--breadcrumbs-->
        <div id="content-header">
            <kz-breadcrumbs />
        </div>
        <!--End-breadcrumbs-->

        <div id="mainFrame" data-ng-view></div>
    </div>

    <!--end-main-container-part-->

    <!--Footer-part-->
    <div class="row-fluid">
        <div id="footer" class="span12"> 2013 &copy; 明德数据工作室版权所有</div>
    </div>
    <!--end-Footer-part-->
</div>

<script type="text/ng-template" id="logout.html">
    <div style="padding-top:5px">
        <form class="form-horizontal">
            <div class="control-group">
                <div class="controls">
                    <span><i class="icon-bullhorn"></i> 您确定退出系统么？</span>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="button" class="btn btn-danger" data-ng-click="logout();hide()"><i class="icon-off"></i> <span class="text">确定</span></button>
                    <span>&nbsp;</span>
                    <button type="button" class="btn" data-ng-click="hide()"><i class="icon-remove"></i> <span class="text">取消</span></button>
                </div>
            </div>
        </form>
    </div>
</script>

<script type="text/ng-template" id="face.html">
    <form class="form-horizontal" style="margin-top:5px;">
        <div class="control-group">
            <div class="face_upload_loading" data-ng-show="loading">
                <div>
                    <img src="./img/loading.gif" alt=""/>
                    <p>上传中...</p>
                </div>
            </div>
            <kz-facearea data-flag="upload" data-formdata="formData" />
        </div>

        <div class="control-group">
            <div class="controls">
                <button data-ng-disabled="!upload" type="button" class="btn btn-success" data-ng-click="uploadFile()"><i class="icon-save"></i> <span class="text">上传</span></button>
                <span>&nbsp;</span>
                <button type="button" class="btn" data-ng-click="reset();hide()"><i class="icon-remove"></i> <span class="text">放弃</span></button>
            </div>
        </div>
    </form>
</script>

<script src="./lib/requireJS/require.js" data-main="./bootstrap.js"></script>
<!--[if lt IE 7 ]>
<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
<script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
<![endif]-->
</body>
</html>