<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
                    <h5>应用系统列表</h5>
                </div>

                <div class="widget-content nopadding">
                    <div class="dataTables_wrapper">
                        <div>
                            <div class="dataTables_length form-horizontal">
                                <label>
                                    <i class="icon-filter" data-bs-tooltip="'将会以您填写的条件对列表数据进行筛选'" data-trigger="hover"></i>
                                    <input
                                            data-ng-change="resetFlag=true"
                                            data-ng-model="searchText"
                                            type="text"
                                            placeholder="过滤条件"
                                            />
                                    <button
                                            data-ng-disabled="!resetFlag"
                                            data-ng-click="resetFilter()"
                                            class="btn btn-info"
                                            >
                                        <i class="icon-retweet" data-bs-tooltip="'清空您添加的所有筛选条件，包括：过滤条件，排序'" data-trigger="hover"></i> <span class="text">重置规则</span>
                                    </button>
                                </label>
                            </div>
                        </div>

                        <table class="table table-bordered" data-kz-table-fixed-header>
                            <thead>
                            <tr>
                                <th class="span3" ng-click="predicate='app'; reverse=!reverse; resetFlag=true">
                                        <span ng-if="predicate=='app'">
                                            <i class="icon-group"></i>
                                        </span>
                                    应用系统名称
                                </th>
                                <th class="hidden-phone span2" ng-click="predicate='validity'; reverse=!reverse; resetFlag=true">
                                        <span ng-if="predicate=='validity'" ng-switch on="reverse">
                                            <i class="icon-caret-up" ng-switch-when="false"></i>
                                            <i class="icon-caret-down" ng-switch-when="true"></i>
                                        </span>
                                    有效性
                                </th>
                                <th class="hidden-phone span2" ng-click="predicate='ipLimit'; reverse=!reverse; resetFlag=true">
                                        <span ng-if="predicate=='ipLimit'" ng-switch on="reverse">
                                            <i class="icon-caret-up" ng-switch-when="false"></i>
                                            <i class="icon-caret-down" ng-switch-when="true"></i>
                                        </span>
                                    限制访问IP
                                </th>
                                <th class="span2" ng-click="predicate='authorization'; reverse=!reverse; resetFlag=true">
                                        <span ng-if="predicate=='authorization'" ng-switch on="reverse">
                                            <i class="icon-caret-up" ng-switch-when="false"></i>
                                            <i class="icon-caret-down" ng-switch-when="true"></i>
                                        </span>
                                    授权状态
                                </th>
                                <th class="span4">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-ng-class="{'delete-line':item.isDelete}" data-ng-repeat="item in data | filter:searchText | filter:status | orderBy:predicate:reverse">
                                <td class="center">
                                    <span
                                        data-trigger="click"
                                        data-unique="1"
                                        data-placement="right"
                                        data-title="详细"
                                        data-bs-popover="'info.html'">
                                        <a class="help-info">{{ item.app }} <i class="icon-tag"></i></a>
                                     </span>
                                </td>
                                <td class="hidden-phone center">
                                    <kz-switch
                                            data-id="item"
                                            data-method="changeValidity(item, status)"
                                            data-model="item.validity"
                                            data-on-label="是"
                                            data-off-label="否"
                                            data-active="switchFlag && !item.isDelete" />
                                </td>
                                <td class="hidden-phone center">
                                    <kz-switch
                                            data-id="item"
                                            data-method="changeIpLimit(item, status)"
                                            data-model="item.ipLimit"
                                            data-on-label="是"
                                            data-off-label="否"
                                            data-active="switchFlag && !item.isDelete" />
                                </td>
                                <td class="center">
                                    <kz-switch
                                            data-id="item"
                                            data-method="changeAuth(item, status)"
                                            data-model="item.authorization"
                                            data-on-label="是"
                                            data-off-label="否"
                                            data-active="switchFlag && !item.isDelete" />
                                </td>
                                <td class="center">
                                    <div data-ng-hide="item.isDelete">
                                        <span>
                                            <kz-action data-name="appIpList" data-group="application" data-args="{aid: {{ $parent.item.appId }} }" />
                                        </span>
                                        <span>&nbsp;</span>
                                        <span>
                                            <kz-action data-name="appApiList" data-group="application" data-args="{aid: {{ $parent.item.appId }} }" />
                                        </span>
                                        <span>&nbsp;</span>
                                        <span
                                            data-trigger="click"
                                            data-placement="left"
                                            data-title="提示"
                                            data-bs-popover="'delete.html'">
                                            <kz-action data-name="appDelete" data-group="application" />
                                        </span>

                                    </div>
                                    <i class="icon-lock" data-ng-show="item.isDelete"></i>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <div class="ui-toolbar ui-widget-header">
                            <div class="dataTables_filter">
                                <label>
                                    <kz-action
                                            class="btn btn-success"
                                            data-name="appAdd"
                                            data-group="application" />
                                </label>
                            </div>

                            <div class="dataTables_paginate">
                                <button
                                        class="btn"
                                        data-ng-click="downloadData()"
                                        data-ng-disabled="!hasManyData"
                                        data-ng-hide="isLoading">
                                        <span data-ng-switch on="hasManyData">
                                            <span data-ng-switch-when="true"><i class="icon-download-alt"></i> 更多</span>
                                            <span data-ng-switch-when="false"><i class="icon-twitter"></i> 暂无</span>
                                        </span>
                                </button>
                                <img data-ng-show="isLoading" src="./img/loading.gif" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="delete.html">
    <ul class="activity-list">
        <li><i class="icon-bullhorn"></i> 您确定删除么？</li>
    </ul>
    <div class="pull-right">
        <button class="btn btn-danger btn-mini" data-ng-click="$parent.delete($parent.item, $parent.$index);hide()"><i class="icon-trash"></i> <span class="text">确定</span></button>
        <span>&nbsp;</span>
        <button class="btn btn-mini" data-ng-click="dismiss()" ><i class="icon-share-alt"></i> <span class="text">取消</span></button>
    </div>
    <div class="clearfix"></div>
</script>

<script type="text/ng-template" id="info.html">
    <ul class="activity-list">
        <li class="text-center">
            <div>
                <img class="img-polaroid" style="width: 80px; height: 80px;" data-ng-src="{{ item.logo }}" />
            </div>
        </li>
        <li data-ng-show="item.tag">
            <span class="text">英文标识 <i class="icon-caret-right"></i></span> {{ item.tag }}
        </li>
        <li data-ng-show="item.domain">
            <span class="text">域名 <i class="icon-caret-right"></i></span> <a data-ng-href="{{ item.domain }}" target="_blank">{{ item.domain }} <i class="icon-external-link"></i></a>
        </li>
        <li>
            <span class="text">有效性 <i class="icon-caret-right"></i></span>
            <kz-switch
                data-id="item"
                data-method="changeValidity(item, status)"
                data-model="item.validity"
                data-on-label="是"
                data-off-label="否"
                data-active="switchFlag && !item.isDelete" />
        </li>
        <li>
            <span class="text">限制访问IP <i class="icon-caret-right"></i></span>
            <kz-switch
                data-id="item"
                data-method="changeIpLimit(item, status)"
                data-model="item.ipLimit"
                data-on-label="是"
                data-off-label="否"
                data-active="switchFlag && !item.isDelete" />
        </li>
        <li data-ng-show="item.info">
            <span class="text">备注 <i class="icon-caret-right"></i></span> {{ item.info }}
        </li>
    </ul>

    <div>
        <span><kz-action class="btn btn-warning btn-mini" data-name="appEdit" data-group="application" data-args="{aid:'{{ $parent.item.appId }}'}" /></span>
    </div>

    <div style="margin-top:15px">
        <button class="btn btn-mini btn-success pull-right" data-ng-click="dismiss()"><i class="icon-remove"></i> <span class="text">关闭</span></button>
    </div>
    <div class="clearfix"></div>
</script>
