<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title"> <span class="icon"> <i class="icon-list-alt"></i> </span>
                    <h5>
                        <span
                                data-trigger="click"
                                data-unique="1"
                                data-placement="bottom"
                                data-title="应用系统信息"
                                data-bs-popover="'app-info.html'">
                            <a class="help-info"><i class="icon-github"></i> {{ app.name }}</a>
                        </span>
                        新增API参数
                    </h5>
                </div>
                <div class="widget-content nopadding">
                    <form name="apiForm" novalidate class="form-horizontal" data-ng-submit="save()">
                        <div class="control-group" data-ng-class="{error: apiForm.apiAddr.$dirty && apiForm.apiAddr.$invalid}">
                            <label class="control-label">api地址</label>
                            <div class="controls">
                                <input type="text"
                                       name="apiAddr"
                                        autocomplete="false"
                                       data-ng-model="api.apiAddr"
                                       class="span6"
                                       placeholder="api地址"
                                       required
                                       data-ng-maxlength="10"
                                       data-ng-pattern="/^[A-Za-z]+$/"
                                        />
                                <div data-ng-show="apiForm.apiAddr.$dirty && apiForm.apiAddr.$invalid">
                                    <span data-ng-show="apiForm.apiAddr.$error.required" class="help-inline"><i class="icon-warning-sign"></i> api地址是必填项~</span>
                                    <span data-ng-show="apiForm.apiAddr.$error.maxlength" class="help-inline"><i class="icon-warning-sign"></i> api地址不能超过10位~</span>
                                    <span data-ng-show="apiForm.apiAddr.$error.pattern" class="help-inline"><i class="icon-warning-sign"></i> api地址只能包含字母~</span>
                                </div>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">请求方式</label>
                            <div class="controls">
                                <select class="span6"  data-ng-model="api.selected" ng-options="c.name for c in select"></select>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">说明</label>
                            <div class="controls">
                                <textarea name="info" data-ng-model="api.info"  class="span10" placeholder="说明"></textarea>
                            </div>
                        </div>

                        <div class="form-actions">
                            <button type="submit" class="btn btn-success" data-ng-disabled="isUnchanged() || apiForm.$invalid || isLoading"><i class="icon-ok" data-toggle="tooltip" data-placement="top" title="" data-trigger="hover" data-original-title="保存"></i> <span class="text">保存</span></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="app-info.html">
    <ul class="activity-list">
        <li class="text-center">
            <div>
                <img class="img-polaroid" style="width: 80px; height: 80px;" data-ng-src="{{ app.logo }}" />
            </div>
        </li>
        <li>
            <span class="text">英文标识 <i class="icon-caret-right"></i></span> {{ app.tag }}
        </li>
        <li>
            <span class="text">域名 <i class="icon-caret-right"></i></span> <a data-ng-href="{{ app.domain }}" target="_blank">{{ app.domain }} <i class="icon-external-link"></i></a>
        </li>
        <li>
            <span class="text">有效性 <i class="icon-caret-right"></i></span>
            <span data-ng-switch on="app.validity">
                <span data-ng-switch-when="1">是</span>
                <span data-ng-switch-when="0">否</span>
            </span>
        </li>
        <li>
            <span class="text">限制访问IP <i class="icon-caret-right"></i></span>
            <span data-ng-switch on="app.ipLimit">
                <span data-ng-switch-when="1">是</span>
                <span data-ng-switch-when="0">否</span>
            </span>
        </li>
        <li data-ng-show="app.info">
            <span class="text">备注 <i class="icon-caret-right"></i></span> {{ app.info }}
        </li>
    </ul>

    <div style="margin-top:15px">
        <button class="btn btn-mini btn-success pull-right" data-ng-click="dismiss()"><i class="icon-remove"></i> <span class="text">关闭</span></button>
    </div>
    <div class="clearfix"></div>
</script>