<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title"> <span class="icon"> <i class="icon-list-alt"></i> </span>
                    <h5>
                        <span
                            data-trigger="click"
                            data-unique="1"
                            data-placement="bottom"
                            data-title="应用系统信息"
                            data-bs-popover="'app-info.html'">
                            <a class="help-info"><i class="icon-github"></i> {{ app.name }}</a>
                        </span>
                        新增可访问IP
                    </h5>
                </div>

                <div class="widget-content nopadding">
                    <form name="ipForm" novalidate class="form-horizontal" data-ng-submit="save()">
                        <div class="control-group"></div>
                        <div class="control-group" data-ng-class="{error: ipForm.name.$dirty && ipForm.name.$invalid}">
                            <label class="control-label">可访问IP</label>
                            <div class="controls">
                                <input type="text" name="name" autocomplete="false" data-ng-model="ip.ip" class="span10" placeholder="ip地址" required data-ng-pattern="/^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$/" />
                                <div data-ng-show="ipForm.name.$dirty && ipForm.name.$invalid">
                                    <span data-ng-show="ipForm.name.$error.required" class="help-inline"><i class="icon-warning-sign"></i> ip是必填项哟~</span>
                                    <span data-ng-show="ipForm.name.$error.pattern" class="help-inline"><i class="icon-warning-sign"></i> ip地址格式必须合法哟~</span>
                                </div>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">有效性</label>
                            <div class="controls">
                                <kz-switch
                                        data-id="0"
                                        data-method="changeValidity(id, status)"
                                        data-model="ip.validity"
                                        data-on-label="是"
                                        data-off-label="否"
                                        data-active="!isLoading" />
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="begin">开始时间</label>
                            <div class="controls">
                                <input type="text" id="begin" placeholder="默认不限制" data-ng-model="ip.begin" data-date-format="yyyy-mm-dd" bs-datepicker />
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="end">结束时间</label>
                            <div class="controls">
                                <input type="text" id="end" placeholder="默认不限制"  data-ng-model="ip.end" bs-datepicker />
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">备注</label>
                            <div class="controls">
                                <textarea name="info" data-ng-model="ip.info" class="span10" placeholder="备注"></textarea>
                            </div>
                        </div>

                        <div class="form-actions">
                            <button type="submit" class="btn btn-success" data-ng-disabled="isUnchanged() || ipForm.$invalid || isLoading"><i class="icon-ok" data-toggle="tooltip" data-placement="top" title="" data-trigger="hover" data-original-title="保存"></i> <span class="text">保存</span></button>
                            <button type="button" class="btn btn-warning" data-ng-click="reset()" data-ng-disabled="isUnchanged() || isLoading"><i class="icon-repeat" data-toggle="tooltip" data-placement="top" title="" data-trigger="hover" data-original-title="重置"></i> <span class="text">重置</span></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="app-info.html">
    <ul class="activity-list">
        <li class="text-center">
            <div>
                <img class="img-polaroid" style="width: 80px; height: 80px;" data-ng-src="{{ app.logo }}" />
            </div>
        </li>
        <li>
            <span class="text">英文标识 <i class="icon-caret-right"></i></span> {{ app.tag }}
        </li>
        <li>
            <span class="text">域名 <i class="icon-caret-right"></i></span> <a data-ng-href="{{ app.domain }}" target="_blank">{{ app.domain }} <i class="icon-external-link"></i></a>
        </li>
        <li>
            <span class="text">有效性 <i class="icon-caret-right"></i></span>
            <span data-ng-switch on="app.validity">
                <span data-ng-switch-when="1">是</span>
                <span data-ng-switch-when="0">否</span>
            </span>
        </li>
        <li>
            <span class="text">限制访问IP <i class="icon-caret-right"></i></span>
            <span data-ng-switch on="app.ipLimit">
                <span data-ng-switch-when="1">是</span>
                <span data-ng-switch-when="0">否</span>
            </span>
        </li>
        <li data-ng-show="app.info">
            <span class="text">备注 <i class="icon-caret-right"></i></span> {{ app.info }}
        </li>
    </ul>

    <div style="margin-top:15px">
        <button class="btn btn-mini btn-success pull-right" data-ng-click="dismiss()"><i class="icon-remove"></i> <span class="text">关闭</span></button>
    </div>
    <div class="clearfix"></div>
</script>