<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title"> <span class="icon"> <i class="icon-list-alt"></i> </span>
                    <h5>应用系统信息</h5>
                </div>

                <div class="widget-content text-center">
                    <div class="face_wrapper" data-kz-faceuploader data-tip="上传图标" data-save="upload(data)">
                        <img style="width: 130px; height: 130px;" class="img-polaroid" data-ng-src="{{ app.logo }}" alt="应用系统图标" />
                    </div>
                </div>

                <div class="widget-content nopadding">
                    <form name="appForm" novalidate class="form-horizontal" data-ng-submit="save()">
                        <div class="control-group" data-ng-class="{error: appForm.name.$dirty && appForm.name.$invalid}">
                            <label class="control-label">应用名称</label>
                            <div class="controls">
                                <input type="text" name="name" autocomplete="false" data-ng-model="app.name" class="span10" placeholder="应用名称" required />
                                <div data-ng-show="appForm.name.$dirty && appForm.name.$invalid">
                                    <span data-ng-show="appForm.name.$error.required" class="help-inline"><i class="icon-warning-sign"></i> 应用名称是必填项哟~</span>
                                </div>
                            </div>
                        </div>

                        <div class="control-group" data-ng-class="{error: appForm.tag.$dirty && appForm.tag.$invalid}">
                            <label class="control-label">英文标识</label>
                            <div class="controls">
                                <input name="tag"
                                       type="text"
                                       autocomplete="false"
                                       data-ng-model="app.tag"
                                       class="span10"
                                       placeholder="英文标识"
                                       required
                                       data-ng-pattern="/^(?!_)(?!.*?_$)[a-zA-Z0-9_]+$/"
                                       data-ng-minlength="2"
                                       data-ng-maxlength="20" />
                                <div data-ng-show="appForm.tag.$dirty && appForm.tag.$invalid">
                                    <span data-ng-show="appForm.tag.$error.required" class="help-inline"><i class="icon-warning-sign"></i> 英文标识是必填项哟~</span>
                                    <span data-ng-show="appForm.tag.$error.pattern" class="help-inline"><i class="icon-warning-sign"></i> 英文标识只能含有数字、字母、下划线，不能以下划线开头和结尾</span>
                                    <span data-ng-show="appForm.tag.$error.minlength" class="help-inline"><i class="icon-warning-sign"></i> 英文标识不能少于2位哟~</span>
                                    <span data-ng-show="appForm.tag.$error.maxlength" class="help-inline"><i class="icon-warning-sign"></i> 英文标识不能多于20位哟~</span>
                                </div>

                            </div>
                        </div>

                        <div class="control-group" data-ng-class="{error: appForm.domain.$dirty && appForm.domain.$invalid}">
                            <label class="control-label">域名</label>
                            <div class="controls">
                                <input
                                        type="text"
                                        name="domain"
                                        data-ng-model="app.domain"
                                        class="span10"
                                        placeholder="域名"
                                        required
                                        data-ng-pattern="/^(http|https|ftp)\://([a-zA-Z0-9\.\-]+(\:[a-zA-Z0-9\.&amp;%\$\-]+)*@)?((25[0-5]|2[0-4][0-9]|[0-1]{1}[0-9]{2}|[1-9]{1}[0-9]{1}|[1-9])\.(25[0-5]|2[0-4][0-9]|[0-1]{1}[0-9]{2}|[1-9]{1}[0-9]{1}|[1-9]|0)\.(25[0-5]|2[0-4][0-9]|[0-1]{1}[0-9]{2}|[1-9]{1}[0-9]{1}|[1-9]|0)\.(25[0-5]|2[0-4][0-9]|[0-1]{1}[0-9]{2}|[1-9]{1}[0-9]{1}|[0-9])|([a-zA-Z0-9\-]+\.)*[a-zA-Z0-9\-]+\.[a-zA-Z]{2,4})(\:[0-9]+)?(/[^/][a-zA-Z0-9\.\,\?\'\\/\+&amp;%\$#!\=~_\-@]*)*$/"
                                        />
                                <div data-ng-show="appForm.domain.$dirty && appForm.domain.$invalid">
                                    <span data-ng-show="appForm.domain.$error.required" class="help-inline"><i class="icon-warning-sign"></i> 域名是必填项哟~</span>
                                    <span data-ng-show="appForm.domain.$error.pattern" class="help-inline"><i class="icon-warning-sign"></i> 域名是格式必须正确</span>
                                </div>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">有效性</label>
                            <div class="controls">
                                <kz-switch
                                        data-id="app"
                                        data-method="changeValidity(item, status)"
                                        data-model="app.validity"
                                        data-on-label="是"
                                        data-off-label="否"
                                        data-active="!isLoading" />
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">限制访问IP</label>
                            <div class="controls">
                                <kz-switch
                                        data-id="app"
                                        data-method="changeIpLimit(item, status)"
                                        data-model="app.ipLimit"
                                        data-on-label="是"
                                        data-off-label="否"
                                        data-active="!isLoading" />
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">备注</label>
                            <div class="controls">
                                <textarea name="info" data-ng-model="app.info" class="span10" placeholder="备注"></textarea>
                            </div>
                        </div>

                        <div class="form-actions">
                            <button type="submit" class="btn btn-success" data-ng-disabled="isUnchanged() || appForm.$invalid || isLoading"><i class="icon-ok" data-toggle="tooltip" data-placement="top" title="" data-trigger="hover" data-original-title="保存"></i> <span class="text">保存</span></button>
                            <button type="button" class="btn btn-warning" data-ng-click="reset()" data-ng-disabled="isUnchanged() || isLoading"><i class="icon-repeat" data-toggle="tooltip" data-placement="top" title="" data-trigger="hover" data-original-title="重置"></i> <span class="text">重置</span></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
