<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title"> <span class="icon"> <i class="icon-list-alt"></i> </span>
                    <h5>用户信息</h5>
                </div>

                <div class="widget-content nopadding">
                    <form name="userForm" novalidate class="form-horizontal" data-ng-submit="save()">
                        <div class="control-group" data-ng-class="{error: userForm.account.$dirty && userForm.account.$invalid}">
                            <label class="control-label">帐 号</label>
                            <div class="controls">
                                <input name="account"
                                       type="text"
                                       data-ng-model="user.account"
                                       class="span10"
                                       placeholder="登录用的帐号"
                                       required
                                       data-ng-pattern="/^(?!_)(?!.*?_$)[a-zA-Z0-9_]+$/"
                                       data-ng-minlength="2"
                                       data-ng-maxlength="20" />
                                <button class="btn btn-info btn-mini accountCheck"
                                        type="button"
                                        data-ng-click="accountCheck()"
                                        data-ng-switch="accountCheckStatus"
                                        data-ng-disabled="accountCheckStatus == 1 || user.account == null">
                                    <span data-ng-switch-when="0">检查帐号</span>
                                    <span data-ng-switch-when="1"><img src="./img/loading-login.gif" alt="loading"/></span>
                                    <span data-ng-switch-when="2">帐号可用</span>
                                </button>
                                <div data-ng-show="userForm.account.$dirty && userForm.account.$invalid">
                                    <span data-ng-show="userForm.account.$error.required" class="help-inline"><i class="icon-warning-sign"></i> 帐号是必填项哟~</span>
                                    <span data-ng-show="userForm.account.$error.pattern" class="help-inline"><i class="icon-warning-sign"></i> 帐号只能含有数字、字母、下划线，不能以下划线开头和结尾</span>
                                    <span data-ng-show="userForm.account.$error.minlength" class="help-inline"><i class="icon-warning-sign"></i> 帐号不能少于2位哟~</span>
                                    <span data-ng-show="userForm.account.$error.maxlength" class="help-inline"><i class="icon-warning-sign"></i> 帐号不能多于20位哟~</span>
                                    <span data-ng-show="userForm.account.$error.exists" class="help-inline"><i class="icon-warning-sign"></i> 帐号已存在~</span>
                                </div>
                            </div>
                        </div>
                        <div class="control-group" data-ng-class="{error: userForm.password.$dirty && userForm.password.$invalid}">
                            <label class="control-label">设定密码</label>
                            <div class="controls">
                                <data-kz-password-strength password="user.password" />
                                <input name="password"
                                       type="text"
                                       data-ng-model="user.password"
                                       class="span3"
                                       placeholder="请输入新密码"
                                       required
                                       data-ng-minlength="6" />

                                <div data-ng-show="userForm.password.$dirty && userForm.password.$invalid">
                                    <span data-ng-show="userForm.password.$error.required" class="help-inline"><i class="icon-warning-sign"></i> 密码不能为空哟~</span>
                                    <span data-ng-show="userForm.password.$error.minlength" class="help-inline"><i class="icon-warning-sign"></i> 密码不能少于六位哟~</span>
                                </div>
                            </div>
                        </div>
                        <div class="control-group" data-ng-class="{error: userForm.username.$dirty && userForm.username.$invalid}">
                            <label class="control-label">姓 名</label>
                            <div class="controls">
                                <input type="text" name="username" data-ng-model="user.name" class="span10" placeholder="真实用户名称" required />
                                <div data-ng-show="userForm.username.$dirty && userForm.username.$invalid">
                                    <span data-ng-show="userForm.username.$error.required" class="help-inline"><i class="icon-warning-sign"></i> 姓名是必填项哟~</span>
                                </div>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">有效性</label>
                            <div class="controls">
                                <kz-switch
                                        data-id="0"
                                        data-method="changeValidity(id, status)"
                                        data-model="user.validity"
                                        data-on-label="是"
                                        data-off-label="否"
                                        data-active="!isLoading" />
                            </div>
                        </div>

                        <div class="control-group" data-ng-class="{error: userForm.userIdCard.$dirty && userForm.userIdCard.$invalid}">
                            <label class="control-label">身份证</label>
                            <div class="controls">
                                <input name="userIdCard" type="text" data-ng-model="user.idCard" class="span10" placeholder="现在身份证的号码有15位和18位" data-ng-pattern="/^(\d{15}$|^\d{18}$|^\d{17}(\d|X|x))$/"  />
                                <div data-ng-show="userForm.userIdCard.$dirty && userForm.userIdCard.$invalid">
                                    <span data-ng-show="userForm.userIdCard.$error.pattern" class="help-inline"><i class="icon-warning-sign"></i> 身份证号码格式要标准哟， 15位或18位</span>
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">性别</label>
                            <div class="controls">
                                <div class="btn-group" ng-model="user.sex" bs-buttons-radio>
                                    <button class="btn" type="button" value="1">俊朗</button>
                                    <button class="btn" type="button" value="-1">中性</button>
                                    <button class="btn" type="button" value="0">靓丽</button>
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">账户类型</label>
                            <div class="controls">
                                <div class="btn-group" ng-model="user.type" bs-buttons-radio>
                                    <button class="btn btn-primary" type="button" value="1">管理账户</button>
                                    <button class="btn btn-primary" type="button" value="0">会员账户</button>
                                </div>
                            </div>
                        </div>
                        <div class="control-group" data-ng-class="{error: userForm.useremail.$dirty && userForm.useremail.$invalid}">
                            <label class="control-label">邮箱</label>
                            <div class="controls">
                                <input name="useremail" type="email" data-ng-model="user.email" class="span4" placeholder="Email" />
                                <div data-ng-show="userForm.useremail.$dirty && userForm.useremail.$invalid">
                                    <span data-ng-show="userForm.useremail.$error.email" class="help-inline"><i class="icon-warning-sign"></i> 要输入有效的email哟~</span>
                                </div>
                            </div>
                        </div>
                        <div class="control-group" data-ng-class="{error: userForm.userqq.$dirty && userForm.userqq.$invalid}">
                            <label class="control-label">QQ</label>
                            <div class="controls">
                                <input name="userqq" type="text" data-ng-model="user.qq" class="span4" placeholder="QQ号码" data-ng-pattern="/^[1-9][0-9]{4,}$/" />
                                <div data-ng-show="userForm.userqq.$dirty && userForm.userqq.$invalid">
                                    <span data-ng-show="userForm.userqq.$error.pattern" class="help-inline"><i class="icon-warning-sign"></i> QQ号都是数字哟~</span>
                                </div>
                            </div>
                        </div>
                        <div class="control-group" data-ng-class="{error: userForm.userphone.$dirty && userForm.userphone.$invalid}">
                            <label class="control-label">电话</label>
                            <div class="controls">
                                <input name="userphone" type="text" data-ng-model="user.phone" class="span10" placeholder="固定电话" data-ng-pattern="/^\d{3}-\d{8}$|^\d{4}-\d{7}$/" />
                                <div data-ng-show="userForm.userphone.$dirty && userForm.userphone.$invalid">
                                    <span data-ng-show="userForm.userphone.$error.pattern" class="help-inline"><i class="icon-warning-sign"></i> 要符合国内固话格式哟，例如：010-1234567</span>
                                </div>
                            </div>
                        </div>
                        <div class="control-group" data-ng-class="{error: userForm.usermobile.$dirty && userForm.usermobile.$invalid}">
                            <label class="control-label">手机</label>
                            <div class="controls">
                                <input name="usermobile" type="text" data-ng-model="user.mobile" class="span10" placeholder="移动电话" data-ng-pattern="/^[1][358]\d{9}$/" />
                                <div data-ng-show="userForm.usermobile.$dirty && userForm.usermobile.$invalid">
                                    <span data-ng-show="userForm.usermobile.$error.pattern" class="help-inline"><i class="icon-warning-sign"></i> 请填写合法的手机号码哟~</span>
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">备注</label>
                            <div class="controls">
                                <textarea name="userinfo" data-ng-model="user.info" class="span10" placeholder="个性签名"></textarea>
                            </div>
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-success" data-ng-disabled="isUnchanged() || userForm.$invalid || isLoading"><i class="icon-ok" data-toggle="tooltip" data-placement="top" title="" data-trigger="hover" data-original-title="保存"></i> <span class="text">保存</span></button>
                            <button type="button" class="btn btn-warning" data-ng-click="reset()" data-ng-disabled="isUnchanged() || isLoading"><i class="icon-repeat" data-toggle="tooltip" data-placement="top" title="" data-trigger="hover" data-original-title="重置"></i> <span class="text">重置</span></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
