<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
                    <h5>
                        <span
                                data-trigger="click"
                                data-unique="1"
                                data-placement="bottom"
                                data-title="用户组信息"
                                data-bs-popover="'group-info.html'">
                            <a class="help-info"><i class="icon-user"></i> {{group.name }}</a>
                        </span>
                        用户组成员列表
                    </h5>
                </div>


                <div class="widget-content nopadding">
                    <div class="dataTables_wrapper">
                        <div>
                            <div class="dataTables_length form-horizontal">
                                <label>
                                    <i class="icon-filter" data-bs-tooltip="'将会以您填写的条件对列表数据进行筛选'" data-trigger="hover"></i>
                                    <input
                                            data-ng-change="resetFlag=true"
                                            data-ng-model="searchText"
                                            type="text"
                                            placeholder="过滤条件"
                                            />
                                    <button
                                            data-ng-disabled="!resetFlag"
                                            data-ng-click="resetFilter()"
                                            class="btn btn-info"
                                            >
                                        <i class="icon-retweet" data-bs-tooltip="'清空您添加的所有筛选条件，包括：过滤条件，排序'" data-trigger="hover"></i> <span class="text">重置规则</span>
                                    </button>
                                </label>
                            </div>
                        </div>

                        <table class="table table-bordered" data-kz-table-fixed-header>
                            <thead>
                            <tr>
                                <th ng-click="predicate='fileName'; reverse=!reverse; resetFlag=true">
                                            <span ng-if="predicate=='fileName'" ng-switch on="reverse">
                                                <i class="icon-arrow-up" ng-switch-when="false"></i>
                                                <i class="icon-arrow-down" ng-switch-when="true"></i>
                                            </span>
                                    账户名
                                </th>
                                <th class="hidden-phone span2" ng-click="predicate='fileSize'; reverse=!reverse; resetFlag=true">
                                            <span ng-if="predicate=='fileSize'" ng-switch on="reverse">
                                                <i class="icon-arrow-up" ng-switch-when="false"></i>
                                                <i class="icon-arrow-down" ng-switch-when="true"></i>
                                            </span>
                                    姓名
                                </th>
                                <th class="hidden-phone span3" ng-click="predicate='dateTime'; reverse=!reverse; resetFlag=true">
                                            <span ng-if="predicate=='dateTime'" ng-switch on="reverse">
                                                <i class="icon-arrow-up" ng-switch-when="false"></i>
                                                <i class="icon-arrow-down" ng-switch-when="true"></i>
                                            </span>
                                    性别
                                </th>
                                </th>
                                <th class="hidden-phone span3" ng-click="predicate='dateTime'; reverse=!reverse; resetFlag=true">
                                            <span ng-if="predicate=='dateTime'" ng-switch on="reverse">
                                                <i class="icon-arrow-up" ng-switch-when="false"></i>
                                                <i class="icon-arrow-down" ng-switch-when="true"></i>
                                            </span>
                                    有效性
                                </th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr id="{{item.userID}}" data-ng-repeat="item in data | filter:searchText | filter:status | orderBy:predicate:reverse">
                                <td class="center">{{ item.userName }}</td>
                                <td class="center hidden-phone">{{ item.name }}</td>
                                <td class="center hidden-phone">{{ item.userCount }}</td>
                                <td class="center">
                                    <kz-switch
                                            data-model="item.validity"
                                            data-on-label="是"
                                            data-off-label="否"
                                            data-active="0" />
                                </td>
                                <td class="center">
                                        <span>
                                            <span data-trigger="click"
                                                  data-unique="1"
                                                  data-placement="left"
                                                  data-title="提示"
                                                  data-bs-popover="'delete.html'"><kz-action  data-name="dbDelete" data-group="database"  /></span>
                                        </span>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <div class="ui-toolbar ui-widget-header">
                            <div class="dataTables_paginate">
                                <button
                                        class="btn"
                                        data-ng-click="downloadData()"
                                        data-ng-disabled="!hasManyData"
                                        data-ng-hide="isLoading">
                                    <span data-ng-switch on="hasManyData">
                                        <span data-ng-switch-when="true"><i class="icon-download-alt"></i> 更多</span>
                                        <span data-ng-switch-when="false"><i class="icon-twitter"></i> 暂无</span>
                                    </span>
                                </button>
                                <img data-ng-show="isLoading" src="./img/loading.gif" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="delete.html">
    <ul class="activity-list">
        <li><i class="icon-bullhorn"></i> 您确定删除<span class="text">{{ item.userName }}</span>么？</li>
    </ul>
    <div class="pull-right">
        <button class="btn btn-danger btn-mini" data-ng-click="$parent.userDelete($parent.item.userID,$parent.item.userName, $parent.$index);hide()">确定</button>
        <button class="btn btn-mini" data-ng-click="dismiss()" >取消</button>
    </div>
    <div class="clearfix"></div>
</script>
<script type="text/ng-template" id="group-info.html">
    <ul class="activity-list">
        <li>
            <span class="text">用户组名称 <i class="icon-caret-right"></i></span> {{ group.name }}
        </li>
        <li data-ng-show="group.parentName">
            <span class="text">父用户组 <i class="icon-caret-right"></i></span> {{ group.parentName }}
        </li>
        <li data-ng-show="group.userCount">
            <span class="text">用户数量 <i class="icon-caret-right"></i></span> {{ group.userCount }}
        </li>
        <li data-ng-show="group.validity">
            <span class="text">是否有效 <i class="icon-caret-right"></i></span> {{ group.validity?"是":"否" }}
        </li>
        <li data-ng-show="group.info">
            <span class="text">备注 <i class="icon-caret-right"></i></span> {{ group.info }}
        </li>
    </ul>
    <div style="margin-top:15px">
        <button class="btn btn-mini btn-success pull-right" data-ng-click="dismiss()"><i class="icon-remove"></i> <span class="text">关闭</span></button>
    </div>
    <div class="clearfix"></div>
</script>
